.adat {
    background: url("../img/plus.png");
    background-repeat: repeat;
    // min-height: auto;
    background-size: 50px 50px;
    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, $colorred, rgba($colorred, 0.93), $colorred);
        @media screen and (max-width: 768px) {
            background: linear-gradient(to top, $colorred, rgba($colorred, 0.9), $colorred);
        }
    }
    h3 {
        color: #fdd835;
    }
}

.bulet-putih {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 170px;
        height: 170px;
        border-radius: 50%;
        background: white;
        z-index: -1;
    }
}
