.data {
    background: url("../img/bg.png");
    background-repeat: repeat;
    // min-height: auto;
    background-size: contain;
    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, $colorred, rgba($colorred, 0.96), $colorred);
        @media screen and (max-width: 768px) {
            background: linear-gradient(to top, $colorred, rgba($colorred, 0.9), $colorred);
        }
    }
    .hand {
        position: absolute;
        right: 0;
        width: 30%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .sticky-mode {
        min-height: 70vh;
        @media screen and (max-width: 768px) {
            min-height: 50vh;
        }
    }
    .wrap-detikx {
    }
    &-ring {
        // min-height: auto;
        // top: 30%;
    }

    .ring {
        position: absolute;
        right: 22%;
        top: 30%;
        width: 5%;
        height: auto;
        @media screen and (max-width: 768px) {
            top: 10%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.bubble-text {
    background: #e3e3e3;
    padding: 16px;
    width: fit-content;
    border-radius: 24px;
    color: $colorred;
    margin-bottom: 1rem;
    box-shadow: 2px 3px 0px #636363;
    position: relative;
    p {
        position: relative;
        z-index: 4;
        font-family: "Source Code Pro";
        font-size: 1.1rem;
        @media screen and (max-width: 768px) {
            font-size: 1rem;
        }
    }
    small {
        z-index: 2;
        position: relative;
    }
    &::before {
        content: "";

        position: absolute;
        bottom: 0;
        left: -16px;
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-right: 50px solid #e3e3e3;
        border-bottom: 25px solid transparent;
    }
}

.image-no-bg {
    width: 40%;
    margin: 0 auto 1rem;
    height: auto;
    @media screen and (max-width: 768px) {
        width: 50%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.garis {
    width: 60%;

    margin: 4rem auto;
    height: 2px;
    position: relative;
    z-index: 3;
    // min-height: auto;
    background: linear-gradient(to right, transparent, #d8d8d8, transparent);
}

.top-30 {
    position: relative;
    top: -20vh;
}

.wrappingx {
    display: block;
    .left-side {
        display: inline-block;
        width: 80px;
        height: auto;
        margin-right: 16px;
        vertical-align: top;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .right-side {
        width: 60%;
        height: auto;
        display: inline-block;
        vertical-align: top;
    }
}
