.pembukaan {
    background: url("../img/bg.png");
    background-repeat: repeat;
    min-height: auto;
    background-size: contain;
    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, $colorred, rgba($colorred, 0.9), $colorred);
    }
}
.kotak {
    &__anak {
        position: absolute;
        // right: 0;
        // bottom: 0;
        top: 60%;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 160px;
        // margin: 0 auto;
        height: auto;
        z-index: 1;
        // opacity: 0.5;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .box-card {
        width: 50%;
        // display: inline-block;
        position: relative;
        overflow: hidden;
        height: 200px;
        vertical-align: top;
        background: #d8d8d8;
        margin: 16px auto 24px;
        text-align: center;
        @media screen and (max-width: 768px) {
            width: 60%;
        }
    }
}
.help-left {
    // display: inline-block;
    // width: 52%;
    // vertical-align: top;
}

.help-right {
    // float: right;
}

.credit {
    min-height: auto;
    .alls {
        margin-bottom: 8px;
        .job {
            font-weight: bold;
        }
    }
}

.putus-putus {
    width: 100%;
    border-top: 2px dashed #d1d1d1;
}

#play-button {
    position: relative;
    .teks {
        position: absolute;
        right: 24px;
        top: -16px;
        font-style: italic;
        font-weight: bold;
        background: rgba($color: white, $alpha: 0.5);
        @media screen and (max-width: 766px) {
            display: none;
        }
    }
}
// p {
//   text-align: justify;
// }
.play-button {
    width: 36px;
    height: 36px;
    // border: 3px solid;
    background: white;
    margin: 8px;
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
    text-align: center;
    // position: fixed;
    // top: 0;
    position: absolute;
    @media screen and (max-width: 766px) {
        top: -40px;
        right: -8px;
    }
    right: 0;
    z-index: 999;

    i {
        // background-color: red;
        font-size: 28px;
        transition: 0.3s;
        color: $colorred;
        &:hover,
        &:focus,
        &:active {
            color: #2b88b4;
        }
    }
}

.stickyx {
    position: fixed !important;
    top: 60px;
    z-index: 99;
    width: 100%;
    right: 0;
    @media screen and (max-width: 766px) {
        top: 40px;
    }
}
