.prembule {
    min-height: auto;
    .bg-simple {
        background: #515151;
        padding: 16px;
        text-align: center;
        border-radius: 16px;
        p {
            font-family: "Source Code Pro", sans-serif;
            font-size: 1.1rem;
        }
    }
}
